#result{
	color: #FFF;
}

.big-text{
	font-size: 100%;
}

#emoji{
	font-size: 300%;
	margin: -5% 0 -5% 0;
}

.small-text{
	font-size: 50%
}

#watch .big-text span:nth-child(2){
	display: inline-block;
	width: 1ch;
	text-align: center;
}